// overtide mdbootstrap
.md-textarea {
  overflow-y: auto;
}

// overriding quill
.md-form {
  .ql-toolbar.ql-snow {
    border: 0;
  }

  .quill-contents.ql-container.ql-snow {
    border-bottom: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  .ql-editor {
    min-height: 200px;
  }

  &.has-danger {
    .quill-contents.ql-container.ql-snow {
      border-bottom: 1px solid #d9534f;
    }
  }
}
