<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title>QuizMaster</title>
    <% if Rails.env.production? %>
      <%= stylesheet_link_tag webpack_asset_path('bundle.css') %>
    <% end %>
  </head>

  <body>
    <div id="app-root" data-react-props="<%= current_user.to_json %>"></div>
    <%= javascript_include_tag webpack_asset_path('bundle.js') %>
  </body>
</html>
