<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title>QuizMaster</title>
    <%= stylesheet_link_tag webpack_asset_path('bundle.css') %>
  </head>

  <body>
    <div class="app-root">
      <%= render_react_component('AppRouter', location: request.url, current_user: {}) %>
    </div>
    <%= javascript_include_tag webpack_asset_path('bundle.js') %>
  </body>
</html>
